body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.all{
    height: 0;
    width: 100%;
    position: relative;
}
.bg-img{
    background-image: url(5期生バンド.jpg);
    height: 0;
    width: 100%;
    padding-top: calc(9 / 16 * 100%);
    background-size: cover;
    opacity: 0.3;
    position: absolute;
}
.main{
    font-weight: normal;
    color: rgb(100,150,255);
    font-size: 10vw;
    position: absolute;
    transform: translate(0%, 0%);
    margin: 0px;
}
span{
    color: rgb(200,200,200);
}
