body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.all{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(30,50,100,0.9);
}
.bg-img{
    background-image: url(5期生バンド.jpg);
    width: 2000px;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
}
.main{
    font-weight: normal;
    color: rgb(100,150,255);
    font-size: 200px;
    position: absolute;
    transform: translate(80%, 150%);
}
span{
    color: rgb(200,200,200);
}
